
<br>
<div class="d-flex justify-content-center">
<h1><%= @order.restaurant.name %> order.</h1>
</div>

<br><br>
<ul class="list-group">

<% @order_items.each do |order_i| %>

  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= order_i.item.name %> - <%= order_i.item.price %>
    <span class="badge badge-primary badge-pill">x <%= order_i.quantity %></span>
  </li>
<% end %>
</ul>
<div class="d-flex justify-content-center fixed-bottom">
<h2>Total: <span class="badge badge-secondary">$ <%=@order.total.to_f.round(2)%></span></h2>
</div>
</div>
