<% if logged_in? %>

<h1><%= @order.restaurant.name %></h1>

<% @order_items.each do |order_i| %>
<p><%= order_i.item.name %> - <%= order_i.item.price %></p>
<% end %>
<p><%=@order.total%></p>



<% else %>
<%= redirect to "/failure" %>
<% end %>