<div class="container"> 

<h1><%= current_restaurant.name %></h1>

<% @items.reverse.each do |item| %>

<div class="card">
  <h5 class="card-header"><%= item.genre%></h5>
  <div class="card-body">
    <h5 class="card-title"><%= item.name%> - <span class="badge badge-secondary"><%= item.price%></span></h5>
    <a href="/items/<%= item.id %>/edit" class="btn btn-primary">Edit this item</a>

<div class="d-flex justify-content-end">
    <form method="POST" action="/items/<%= item.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input class="btn btn-danger" type="submit" value="Delete this item">
    </form>
    <a href="/items/<%= current_restaurant.id %>/<%= item.id %>" class="btn btn-primary">See item</a>
</div>

  </div>
</div>
<% end %>

</div>