<div class="container"> 

<% @orders.reverse.each do |order| %>

<div class="card">
  <div class="card-header">
   <%= order.created_at %>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= order.user.name %> - <% if under_60_mins?(order)%>
                                        <span class="badge badge-danger"><%="New"%></span>
                                    <% else %>
                                        <span class="badge badge-success"><%="Completed"%></span>
                                   <% end %></p>
      <% order.order_items.each do |order_i|%>
      <li> x <%= order_i.quantity %> - <%= order_i.item.name.downcase %></li>
      <% end %>
      <br>
      <footer class="blockquote-footer">Total: $ <%= order.total.to_f.round(2) %></footer>
    </blockquote>
  </div>
</div>
<% end %>

</div>

