<% if restaurant_logged_in? || current_restaurant.id == session[:restaurant_id] %>

<h1><%= @restaurant.name%></h1> <a href="/restaurant/logout">Logout</a>
<p><a href="/restaurant/orders">Orders</a></p>
<br><br><br><br>

<a href="/items/new">Add Item</a>

<dl>
<% @items.each do |item| %>

  <dt><%= item.name%></dt>
  <dd>- <%= item.description%></dd>
  <dd>- <%= item.genre%></dd>
  <dd>- <%= item.price%></dd>
  <dd>- <a href="/items/<%= item.id %>/edit">Edit this item</a></dd>
  <dd><form method="POST" action="/items/<%= item.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete this item">
</form></dd>
</dl>
<% end %>

<% else %>
<%= redirect to "/failure" %>
<% end %>