
<div class="container"> 

<h1 class="d-flex justify-content-center">Edit Item</h1>

<form action="/item/<%= @item.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">

<input class="form-control" type="text" name="name" value="<%= @item.name %>"><br>
<input class="form-control" type="text" name="description" value="<%= @item.description %>"><br>
<input class="form-control" type="text" name="genre" value="<%= @item.genre %>"><br>
<input class="form-control" type="text" name="price" value="<%= @item.price %>"><br>
<input class="btn btn-primary" type="submit" value="Edit Item">
<a class="btn btn-danger" href="/index">Cancel</a>
</form>

</div>


