<div class="container"> 

<div class="card">
  <div class="card-header">
    <%= @restaurant.name%> item
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <h1><%= @item.name%></h1>
      <p><%= @item.description%></p>
      <footer class="blockquote-footer">This is a <cite title="Source Title"><%= @item.genre %></cite> item</footer>
    </blockquote>
  </div>
</div>

<br><br>
<div class="d-flex justify-content-start">
<a href="/items/<%= @item.id %>/edit" class="btn btn-primary">Edit this item</a>
    <form method="POST" action="/items/<%= @item.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input class="btn btn-danger" type="submit" value="Delete this item">
    </form>
</div>

</div>