<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>FoodOrder</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>
    <div class="wrapper">

<div class="container">


    <a href="<%='/restaurants' if logged_in?%><%='/index' if restaurant_logged_in?%>" type="button" class="btn btn-light">Home</a>

    <% if restaurant_logged_in?%>
      <div class="d-flex justify-content-end">
      <p><%= current_restaurant.name %> <a class="btn btn-outline-danger" href="/restaurant/logout">Logout</a></p>
      </div>

      <div class="d-flex justify-content-center">
      <p><a class="btn btn-light" href="/restaurant/orders">Orders</a></p>
      </div>
      <br><br>

      <div class="d-flex justify-content-center">
      <a class="btn btn-primary" href="/items/new">+ Add Item</a>
      </div>
      <br><br>
    <% elsif logged_in? %>
      
      <div class="d-flex justify-content-end">
      <p><%= current_user.name %> <a class="btn btn-outline-danger" href="/logout">Log Out</a></p>
      </div>

      <div class="d-flex justify-content-center">
      <a class="btn btn-outline-info" href="/<%= current_user.id %> /orders">Orders History</a></p>
      </div>
      <br><br><br>
    <% end %>


        <%= yield %>


</div>
      <footer class="d-flex justify-content-start fixed-bottom">
        <small>&copy; 2020 <strong>FoodOrder</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
